<div id="cookies-eu-banner" style="display: none;">
  By continuing to use this site, you accept the use of a cookie to store your region and local storage for storing your user data.
  <button id="cookies-eu-reject">Reject</button>
  <button id="cookies-eu-accept">Accept</button>
</div>
<div class="navGrid" id="mytopnav">
  <div class="navigation">
    <h1 class="quicksand-txt"><a href="/index.html" id="homepage-link">Agile Dashboard</a></h1>
    <ul class="hc">
      <li><a href="/compare/index.html" class="quicksand-txt" id="compare-link">Compare tariffs</a></li>
      <li><a href="https://www.cosmicallycosmo.com/linkedin" class="quicksand-txt">About me</a></li>
      <li><a href="https://ko-fi.com/agiledashboard" class="quicksand-txt">Blog</a></li> 
    </ul>
  </div>
  <div id="navSelect" class="navSelect hc" style="visibility: hidden;">
    <label for="regionSelector" style="display: none;">Choose a region:</label>
    <select id="regionSelector" name="regionSelector" autocomplete="off" style="display:none;">
      <option value="" selected hidden></option>
      <option value="A">Eastern England</option>
      <option value="B">East Midlands</option>
      <option value="C">London</option>
      <option value="D">Merseyside & Northern Wales</option>
      <option value="E">West Midlands</option>
      <option value="F">North Eastern England</option>
      <option value="G">North Western England</option>
      <option value="H">Southern England</option>
      <option value="J">South Eastern England</option>
      <option value="K">Southern Wales</option>
      <option value="L">South Western England</option>
      <option value="M">Yorkshire</option>
      <option value="N">Southern Scotland</option>
      <option value="P">Northern Scotland</option>
    </select>
  </div>
  <div class="navSettings" style="margin-right: 0;">
    <span class="material-symbols-outlined settings-span hc" id="settingsButton">settings</span>
    <span class="material-symbols-outlined menu-span sc" id="settingsMenu" style="display: none;">menu</span>
  </div>
</div>
<div id="settingsModal" class="modal">
  <div class="modal-content modalSmall">
    <span class="close closeModal">&times;</span>
    <p class="quicksand-txt" style="font-size: 18px;"><b style="color: red;">Experimental</b> - view your usage data!</p>
    <label for="accountNumber" class="quicksand-txt">Account number </label><br>
    <input type="text" id="accountNumber" name="accountNumber" class="quicksand-txt"><br>
    <label for="APIKey" class="quicksand-txt">API key </label><br>
    <input type="text" id="APIKey" name="APIKey" class="quicksand-txt"><br>
    <label for="rememberMe" class="quicksand-txt">Remember details? </label><br>
    <input type="checkbox" id="rememberMe" name="rememberMe"><br>
    <div id="manualDetailsEntry"  style="display: none">
      <p class="quicksand-txt">If the above doesn't work, you can try entering your MPAN & serial number manually below alongside your API key and account number.</p>
      <p class="quicksand-txt">Note: no validation is done on the MPAN / serial number, if no data appears double check their values.</p>
      <label for="mpan" class="quicksand-txt">Meter MPAN </label><br>
      <input type="text" id="mpan" name="mpan" class="quicksand-txt"><br>
      <label for="serialNumber" class="quicksand-txt">Meter serial number </label><br>
      <input type="text" id="serialNumber" name="serialNumber" class="quicksand-txt"><br>
    </div>
    <p class="quicksand-txt">Note: your details & data aren't shared with us - <b>all processing is done entirely in your browser.</b></p>
    <p class="quicksand-txt">Note: Selecting <em>remember details</em> will store your account number and JWT refresh token in your browser which is potentially insecure. <b>Your API key is never stored.</b></p>
    <input type="button" id="addDetailsButton" class = "addApplianceButton quicksand-txt" value="Get usage data">
    <p style="color: red; display: none" id="settingsErr">Error: invalid details - please double check!</p>
  </div>
</div>

