<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script defer src="/packages/cookies-eu-banner.min.js"></script>
<link rel="canonical" href="http://www.agiledashboard.co.uk/">
<link rel="preload" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" as="style">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=menu,settings,warning"/>
