/* Clear floats after the columns */
.row::after {
content: "";
display: table;
clear: both;
}

.blockGrid {
  display: grid;
  margin-bottom: 8px;
  column-gap: 30px;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 180px;
  grid-auto-rows: 180px;
  grid-auto-flow: row;
}

.blockGrid > div {
    opacity: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for a cleaner look */
    border-radius: 8px; /* Rounded corners */
    padding: 10px;
    height: 180px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.gridDynamicItem {
  grid-column: span 1;
  grid-row: span 1;
  transform: scale(0.95);
  transition: opacity 0.6s ease, transform 0.3s ease;
}

.gridDynamicItem.show {
    opacity: 1;
    transform: scale(1);
  }

.gridDynamicItem > p {
    margin: 3px;
}

.gridDynamicItem > .title {
  font-size: 18px;
  margin: 3px;
}
