/* Footer */
.footer {
    background-color: white;
    margin-bottom: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for a cleaner look */
    border-radius: 8px; /* Rounded corners */
    justify-content: center;
    align-items: center;
}
