@import "./animations.css";
@import "./appliance.css";
@import "./blockGrid.css";
@import "./button.css";
@import "./cookies.css";
@import "./faq.css";
@import "./font.css";
@import "./footer.css";
@import "./graphContainer.css";
@import "./modal.css";
@import "./navbar.css";
@import "./title.css";

* {
box-sizing: border-box;
}

body {
  width: calc(90% - 16px);
  margin-left: calc(5% + 8px);
  margin-right: calc(5% + 8px);
  font-family: Arial;
  background: #f1f1f1;
}

.show {
    opacity: 1;
    transform: scale(1);
  }


.floatingControls {
  display: none;
  visibility: hidden;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1100px) {
    html, body {
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
        overflow-x: clip;
        margin: 0;
        font-family: Arial;
        background: #f1f1f1;
    }

    .hc {
      display: none !important;
    }

    .sc {
      display: block !important;
    }

    .gh {
      height: 400px !important;
    }

    .mc {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }

    .floatingControls {
        display: inline-flex;
        flex-direction: column;
        visibility: visible;
        position: fixed;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
        opacity: 95%;
        bottom: 25px;
        right: 25px;
        padding: 15px;
        background: white;
        border: 1px solid #ccc;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.15);
        z-index: 1; /* Makes sure it stays on top */
    }

     .graphSelector {
      position: static;
      display: flex;
      gap: 5px;
      background-color: transparent;
      z-index: 2;
    }

    .navGrid {
      display: grid;
      margin-top: 8px;
      margin-bottom: 8px;
      column-gap: 30px;
      grid-template-columns: 5fr 0.25fr;
      grid-template-rows: 60px;
    }
    
    .navigation > h1 {
      font-size: 25px;
    }

    .titlecol h2 {
      font-size: 30px;
    }

    .blockGrid {
      display: grid;
      margin-bottom: 8px;
      column-gap: 10px;
      row-gap: 10px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 180px 180px;
      grid-auto-rows: 225px;
      grid-auto-flow: row;
    }

    .gridHeight {
      height: 225px !important;
    }

    .eqcolumn {
        width: 48% !important;
    }

    .modalSmall {
      width: 75% !important;
    }

    .sms {
        width: 60% !important;
        margin-left: auto !important;
    }
    .sml {
        width: 35% !important;
        margin-left: 0% !important;
    }
    .ts {
        font-size: 16px !important;
    }
  }
