.titlecol {
    background-color: white;
    padding-bottom: 4px;
    padding-top: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for a cleaner look */
    border-radius: 8px; /* Rounded corners */
    justify-content: center;
    align-items: center;
}

.titlecol h2 {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    margin: 15px;
}

.titlecol p {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 15px;
}
