<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="View current and future Agile Octopus tariff rates for your region.">
    <title>Compare tarriffs</title>
    <script defer src="/packages/plotly-custom.min.js"></script>
    <%- head %>
  </head>
  <body>
    <%- header %>
    <div class="titlecol">
      <div><h2 class="quicksand-txt">Compare Octopus tariffs</h2></div>
      <div><p>Compare the cost of other tariffs versus being on Agile using your usage data.</p></div>
      <div>
        <p>Data is currently for the <b><span id="selectedRegion">Eastern England</span></b> region on the <b><span id="productCode">AGILE-24-10-01</span></b> version of the agile tariff. Update your details and add your API key to view your usage in the settings menu!</p></div>
    </div>
    <div style="display: flex;">
      <div class="leftbcolumn navbutton hc" id="leftbcolumn"><button id="left" class="button">&lt;</button></div>
      <div class="gcolumn mc gh plot" id="graphContainer">
        <div class="graphSelector" id="graphSelector" style="visibility: hidden;">
          <button id="selectUnit" class="selectGraphButton left-select-button noHover quicksand-txt">Tariff</button>
          <button id="selectConsumption" class="selectGraphButton noHover quicksand-txt">Consumption</button>
          <button id="selectCost" class="selectGraphButton right-select-button noHover quicksand-txt">Cost</button>
        </div>
        <div id="noDataWarning" class="modal">
          <div class="modal-content modalSmall">
            <p class="quicksand-txt" id="noDataWarningMessage">No data for today - try again later.</p>
          </div>
        </div>
      </div>
      <div class="rightbcolumn navbutton hc" id="rightbcolumn"><button id="right" class="button" disabled>&gt;</button></div>
    </div>
    <div id="floatingControls" class="floatingControls"><div id="buttonControls"></div></div>
    <div class="titlecol">
    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    </div>
    <div class="blockGrid" id="dynamicBlockGrid">
      <div class="static" id="start-kpi"></div>
      <div class="static" id="middle-kpi"></div>
      <div class="static" id="alt-start-kpi"></div>
      <div class="static" id="end-kpi"></div>
      <div class="static" id="alt-end-kpi"></div>
    </div>
    <template id="widgetTemplate">
    </template>
    <%- footer %>
  </body>
</html>
